<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <!-- URL Rewrite rules -->
    <rewrite>
      <rules>

        <rule name="WebSocketProxy" stopProcessing="true">
          <match url="^ws(.*)" />
          <action type="Rewrite" url="http://localhost:3000/ws{R:1}" />
        </rule>

      </rules>
    </rewrite>

  </system.webServer>
</configuration>