/* centers body horizontally */
body {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
  background-color: #f9f9f9;
  border-radius: 10px;
  overflow: hidden;

}

th,
td {
  border: 1px solid #ccc;
  text-align: cnter;
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

th {
  background: #e0f0e0;
  text-align: center;
}

td {
  border: 0px;
  font-family: sans-serif;
  font-size: 13px;
}

button,
select,
input {
  cursor: pointer;
  border-radius: 5px;
  border-color: #e0f0e0;
}

a:hover,
select:hover,
input:hover {
  background-color: #e0f0e0;
}

input {
  height: 30px;
}

select {
  height: 35px;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.no-border {
  border: 0px solid #ddd;
}

.one-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*
.menu {
  text-decoration: none;
  width: 150px;
  height: 35px;
  background-color: #e0f0e0;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 10px;
}
*/

/* bold */
.bold {
  font-weight: 600;
}

.button {
  width: 190px;
  height: 35px;
  background-color: #e0f0e0;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-color: #e0f0e0;
}

.menu {
  padding: 0;
  /* remove default td padding */
}

.menu a {
  /* makes <a> fill the cell */
  display: block;
  width: 100%;
  height: 100%;
  max-width: 150px;
  /* space inside the link */
  padding: 12px;
  /* include padding in size */
  box-sizing: border-box;
  transition: background 0.2s, box-shadow 0.2s;

  border: 2px solid #e0f0e0;
  border-radius: 8px;
  /* remove underscore */
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 10px;
}

.menu a:hover {
  background: #e0f0e0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}