/* body */
.div-main {
  background: url('http://localhost/condo/images/hinna-park-blur.jpg') no-repeat center center/cover;
  display: flex;
  align-items: center;
}

/* Define the grid container */
.div-grid-userbankaccount,
.div-grid-supplier,
.div-grid-importfile,
.div-grid-condo,
.div-grid-user,
.div-grid-bankaccount,
.div-grid-condominium,
.div-grid-account,
.div-grid-income,
.div-grid-payment,
.div-grid-due,
.div-grid-monthlyfee,
.div-grid-remoteheating,
.div-grid-budget,
.div-grid-overview,
.div-grid-accountmovement {
  display: grid;
  gap: 4px;
  padding: 20px;
  font-size: 16px;
  font-stretch: 100%;
  font-weight: 400;
}

/* grid container 2 columns */
.div-grid-condo,
.div-grid-budget,
.div-grid-account,
.div-grid-due {
  grid-template-columns: 200px 200px;
}

/* grid container 3 columns */
.div-grid-userbankaccount,
.div-grid-bankaccount,
.div-grid-supplier,
.div-grid-user,
.div-grid-condominium {
  grid-template-columns: 200px 200px 200px;
}

/* grid container 4 columns */
.div-grid-monthlyfee {
  grid-template-columns: 200px 200px 150px 150px;
}

/* grid container 5 columns */
.div-grid-notInUse {
  grid-template-columns: 200px 200px 150px 150px 150px;
}

/* Define the grid container with 6 columns*/
.div-grid-income,
.div-grid-accountmovement {
  grid-template-columns: 200px 200px 150px 150px 150px 150px;
}

/* Define the grid container with 7 columns*/
.div-grid-remoteheating {
  grid-template-columns: 200px 200px 150px 150px 150px 150px 150px;
}

/* Define the grid container with 7 columns*/
.div-grid-payment {
  grid-template-columns: 200px 200px 200px 50px 100px 100px 200px;
}

/* Define the grid container with 8 columns*/
.div-grid-overview {
  grid-template-columns: 200px 200px 100px 100px 150px 100px 100px 150px;
}

/* Define the grid container with 10 columns*/
.div-grid-importfile {
  grid-template-columns: 200px 200px 50px 100px 50px 150px 150px 150px 100px 200px;
}

.div-importfile-columnLineNumber,
.div-importfile-columnAccountingDate,
.div-importfile-columnCondoName,
.div-importfile-columnAccountName,
.div-importfile-columnFromBankAccount,
.div-importfile-columnToBankAccount,
.div-importfile-columnPayment,
.div-importfile-columnText,

.div-payment-columnIncomeId,
.div-payment-columnDate,
.div-payment-columnAmount,
.div-payment-columnText,

.div-income-columnIncomeId,
.div-income-columnDate,
.div-income-columnAmount,
.div-income-columnText,

.div-overview-columnDueDate,
.div-overview-columnDueAmount,
.div-overview-columnDueText,
.div-overview-columnIncomeDate,
.div-overview-columnIncomeAmount,
.div-overview-columnIncomeText,

.div-remoteheating-columnDate,
.div-remoteheating-columnAmount,
.div-remoteheating-columnNumberKWHour,
.div-remoteheating-columnPriceKWHour,
.div-remoteheating-columntext {
  grid-row-start: 1;
  grid-row-end: 20;
  display: block;
  color: #333;
  text-decoration: none;
  padding: 2px;
}

.div-importfile-columnLineNumber,
.div-income-columnIncomeId,
.div-overview-columnDueDate,
.div-remoteheating-columnDate {
  grid-column-start: 3;
}

.div-importfile-columnAccountingDate,
.div-payment-columnIncomeId,
.div-income-columnDate,
.div-overview-columnDueAmount,
.div-remoteheating-columnAmount {
  grid-column-start: 4;
}

.div-importfile-columnCondoName,
.div-payment-columnDate,
.div-income-columnAmount,
.div-overview-columnDueText,
.div-remoteheating-columnNumberKWHour {
  grid-column-start: 5;
}

.div-importfile-columnAccountName,
.div-payment-columnAmount,
.div-income-columnText,
.div-overview-columnIncomeDate,
.div-remoteheating-columnPriceKWHour {
  grid-column-start: 6;
}

.div-importfile-columnFromBankAccount,
.div-payment-columnText,
.div-overview-columnIncomeAmount {
  grid-column-start: 7;
}

.div-importfile-columnToBankAccount,
.div-overview-columnIncomeText {
  grid-column-start: 8;
}

.div-importfile-columnPayment {
  grid-column-start: 9;
}

.div-importfile-columnText {
  grid-column-start: 10;
}

/* menu */
.div-menu {
  width: 150px;
  grid-row-start: 1;
  grid-row-end: 20;
  display: block;
  color: #333;
  text-decoration: none;
  padding: 12px 20px;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s, color 0.3s;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.div-monthlyfee-columnAmount,
.div-monthlyfee-columnDate {
  grid-row-start: 1;
  grid-row-end: 20;
  display: block;
  color: #333;
  text-decoration: none;
  padding: 2px;
}

.div-monthlyfee-columnDate {
  grid-column-start: 3;
}

.div-monthlyfee-columnAmount {
  grid-column-start: 4;
}

.div-accountmovement-columnAmount,
.div-accountmovement-columnDate,
.div-accountmovement-columnBankAccountName,
.div-accountmovement-columnCondoName {
  grid-row-start: 1;
  grid-row-end: 20;
  display: block;
  color: #333;
  text-decoration: none;
  padding: 2px;
}

.div-accountmovement-columnCondoName {
  grid-column: 3;
}

.div-accountmovement-columnBankAccountName {
  grid-column: 4;
}

.div-accountmovement-columnDate {
  grid-column: 5;
}

.div-accountmovement-columnAmount {
  grid-column: 6;
}

.div-monthlyfee-columnDate {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 20;
  display: block;
  color: #333;
  text-decoration: none;
  padding: 2px;
}

/* Columns for search */
.div-remoteheating-columnDate,
.div-remoteheating-columnAmount,
.div-remoteheating-columnNumberKWHour,
.div-remoteheating-columnPriceKWHour,
.div-remoteheating-columnText {
  grid-row-start: 1;
  grid-row-end: 20;
  display: block;
  color: #333;
  text-decoration: none;
  padding: 2px;
}

.div-remoteheating-columnDate {
  grid-column-start: 3;
}

.div-remoteheating-columnAmount {
  grid-column-start: 4;
}

.div-columnNumberKWHour {
  grid-column-start: 5;
}

.div-remoteheating-columnPriceKWHour {
  grid-column-start: 6;
}

.div-remoteheating-columnText {
  grid-column-start: 7;
}

.a-menu-vertical-userbankaccount,
.a-menu-vertical-supplier,
.a-menu-vertical-importfile,
.a-menu-vertical-login,
.a-menu-vertical-user,
.a-menu-vertical-condo,
.a-menu-vertical-bankaccount,
.a-menu-vertical-condominium,
.a-menu-vertical-account,
.a-menu-vertical-income,
.a-menu-vertical-payment,
.a-menu-vertical-due,
.a-menu-vertical-monthlyfee,
.a-menu-vertical-remoteheating,
.a-menu-vertical-budget,
.a-menu-vertical-overview,
.a-menu-vertical-accountmovement {
  display: block;
  color: #333;
  text-decoration: none;
  padding-left: 0px;
  padding-top: 15px;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s, color 0.3s;
  text-align: left;
  font-size: 16px;
}

.a-menu-vertical-userbankaccount-green,
.a-menu-vertical-supplier-green,
.a-menu-vertical-importfile-green,
.a-menu-vertical-login-green,
.a-menu-vertical-user-green,
.a-menu-vertical-accountmovement-green,
.a-menu-vertical-bankaccount-green,
.a-menu-vertical-condo-green,
.a-menu-vertical-account-green,
.a-menu-vertical-due-green,
.a-menu-vertical-monthlyfee-green,
.a-menu-vertical-income-green,
.a-menu-vertical-payment-green,
.a-menu-vertical-overview-green,
.a-menu-vertical-remoteheating-green,
.a-menu-vertical-budget-green,
.a-menu-vertical-condominium-green {
  display: block;
  color: #4CAF50;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s, color 0.3s;
  padding: 10px;
  padding-left: 0px;
  text-align: left;
  font-size: 16px;
  cursor: pointer;
}

.div-menu a:hover {
  background-color: #bcb9b9;
  color: white;
}

.div-menu a.active {
  background-color: #007BFF;
  color: white;
  font-weight: bold;
}

/* Style the grid items */
.div-bankaccount-item-info,
.div-condo-item-info,
.div-account-item-info,
.div-due-item-info,
.div-payment-item-info,
.div-overview-item-info,
.div-remoteheating-item-info {
  background-color: white;
  color: black;
  padding: 5px;
  text-align: left;
  border: 1px;
}

/* label */
.div-grid-userbankaccount label,
.div-grid-supplier label,
.div-grid-importfile label,
.div-grid-user label,
.div-grid-condo label,
.div-grid-bankaccount label,
.div-grid-condominium label,
.div-grid-account label,
.div-grid-income label,
.div-grid-payment label,
.div-grid-due label,
.div-grid-monthlyfee label,
.div-grid-remoteheating label,
.div-grid-budget label,
.div-grid-overview label,
.div-grid-accountmovement label {
  border-bottom-color: rgb(229, 229, 229);
  border-bottom-style: solid;
  border-bottom-width: 0px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(229, 229, 229);
  border-left-style: solid;
  border-left-width: 0px;
  border-right-color: rgb(229, 229, 229);
  border-right-style: solid;
  border-right-width: 0px;
  border-top-color: rgb(229, 229, 229);
  border-top-style: solid;
  border-top-width: 0px;
  box-sizing: border-box;
  color: rgb(70, 70, 70);
  display: block;
  font-size: 14px;
  font-weight: 700;
  height: 22px;
  line-height: 18px;
  padding-bottom: 4px;
  padding-right: 5px;
  position: relative;
  tab-size: 4;
  text-size-adjust: 100%;
  width: 187.5px;
  -webkit-font-smoothing: antialiased;
}

/* input */
.a-condo-login,
.div-grid-userbankaccount input,
.div-grid-supplier input,
.div-grid-importfile input,
.div-grid-user input,
.div-grid-condo input,
.div-grid-bankaccount input,
.div-grid-condominium input,
.div-grid-account input,
.div-grid-income input,
.div-grid-payment input,
.div-grid-due input,
.div-grid-monthlyfee input,
.div-grid-remoteheating input,
.div-grid-budget input,
.div-grid-overview input,
.div-grid-accountmovement input {
  appearance: auto;
  background-color: rgb(255, 255, 255);
  border-bottom-color: rgb(195, 204, 217);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(195, 204, 217);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(195, 204, 217);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(195, 204, 217);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  color: rgb(70, 70, 70);
  cursor: text;
  display: block;
  height: 48px;
  letter-spacing: normal;
  line-height: 22px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  overflow-clip-margin: 0px;
  overflow-x: clip;
  overflow-y: clip;
  padding-block-end: 12px;
  padding-block-start: 12px;
  padding-bottom: 12px;
  padding-inline-end: 8px;
  padding-inline-start: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 12px;
  tab-size: 4;
  text-align: start;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-size-adjust: 100%;
  text-transform: none;
  width: 187.5px;
  word-spacing: 0px;
  -webkit-rtl-ordering: logical;
  cursor: pointer;
}

/* select */
.div-grid-userbankaccount select,
.div-grid-supplier select,
.div-grid-importfile select,
.div-grid-user select,
.div-grid-condo select,
.div-grid-bankaccount select,
.div-grid-condominium select,
.div-grid-account select,
.div-grid-income select,
.div-grid-payment select,
.div-grid-due select,
.div-grid-monthlyfee select,
.div-grid-remoteheating select,
.div-grid-budget select,
.div-grid-overview select,
.div-grid-accountmovement select {
  appearance: auto;
  background-color: rgb(255, 255, 255);
  border-bottom-color: rgb(195, 204, 217);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(195, 204, 217);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(195, 204, 217);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(195, 204, 217);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  color: rgb(70, 70, 70);
  cursor: text;
  display: block;
  height: 48px;
  letter-spacing: normal;
  line-height: 22px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  overflow-clip-margin: 0px;
  overflow-x: clip;
  overflow-y: clip;
  padding-block-end: 12px;
  padding-block-start: 12px;
  padding-bottom: 12px;
  padding-inline-end: 8px;
  padding-inline-start: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 12px;
  tab-size: 4;
  text-align: start;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  text-size-adjust: 100%;
  text-transform: none;
  width: 187.5px;
  word-spacing: 0px;
  -webkit-rtl-ordering: logical;
  cursor: pointer;
}

/* bold */
.div-overview-text,
.div-overview-sumPayment,
.div-overview-due-payment,
.div-overview-due-date,
.div-overview-payment,

.div-remoteheating-text,
.div-remoteheating-sumPayment,
.div-remoteheating-sumNumberKWHour,
.div-remoteheating-sumPriceKWHour,

.div-overview-due-sumDue,
.div-overview-sumIncome,
.div-overview-income {
  font-weight: 700;
}

/* button */
.div-grid-userbankaccount button,
.div-grid-supplier button,
.div-grid-importfile button,
.div-grid-user button,
.div-grid-condo button,
.div-grid-bankaccount button,
.div-grid-condominium button,
.div-grid-account button,
.div-grid-income button,
.div-grid-payment button,
.div-grid-due button,
.div-grid-monthlyfee button,
.div-grid-remoteheating button,
.div-grid-budget button,
.div-grid-overview button,
.div-grid-accountmovement button {
  width: 190px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Darker green on hover */
.div-grid-userbankaccount button:hover,
.div-grid-supplier button:hover,
.div-grid-importfile button:hover,
.div-grid-user button:hover,
.div-grid-condo button:hover,
.div-grid-bankaccount button:hover,
.div-grid-condominium button:hover,
.div-grid-account button:hover,
.div-grid-income button:hover,
.div-grid-payment button:hover,
.div-grid-due button:hover,
.div-grid-monthlyfee button:hover,
.div-grid-remoteheating button:hover,
.div-grid-budget button:hover,
.div-grid-overview button:hover,
.div-grid-accountmovement button:hover {
  background-color: #3e9441;
}

/* Even darker green on click */
.div-grid-importile button:active,
.div-grid-user button:active,
.div-grid-condo button:active,
.div-grid-bankaccount button:active,
.div-grid-condominium button:active,
.div-grid-account button:active,
.div-grid-income button:active,
.div-grid-payment button:active,
.div-grid-due button:active,
.div-grid-monthlyfee button:active,
.div-grid-remoteheating button:active,
.div-grid-budget button:active,
.div-grid-overview button:active,
.div-grid-accountmovement button:active {
  background-color: #307533;
}

/* Gray for disabled state */
.div-grid-userbankaccount select:disabled,
.div-grid-userbankaccount button:disabled,

.div-grid-supplier select:disabled,
.div-grid-supplier button:disabled,

.div-grid-importfile select:disabled,
.div-grid-importfile button:disabled,

.div-grid-user select:disabled,
.div-grid-user button:disabled,

.div-grid-condo select:disabled,
.div-grid-condo button:disabled,

.div-grid-bankaccount select:disabled,
.div-grid-bankaccount button:disabled,

.div-grid-condominium select:disabled,
.div-grid-condominium button:disabled,

.div-grid-account select:disabled,
.div-grid-account button:disabled,

.div-grid-income select:disabled,
.div-grid-income button:disabled,

.div-grid-payment select:disabled,
.div-grid-payment button:disabled,

.div-grid-due select:disabled,
.div-grid-due button:disabled,

.div-grid-monthlyfee select:disabled,
.div-grid-monthlyfee button:disabled,

.div-grid-budget select:disabled,
.div-grid-budget button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

/* header */
.div-monthlyfee-columnDate-Header,
.div-monthlyfee-columnAmount-Header,

.label-accountmovement-columnCondoName-Header,
.label-accountmovement-columnAccountName-Header,
.label-accountmovement-columnDate-Header,
.label-accountmovement-columnAmount-Header,

.div-remoteheating-date-Header,
.div-remoteheating-payment-Header,
.div-remoteheating-numberKWHour-Header,
.div-remoteheating-priceKWHour-Header,
.div-remoteheating-text-Header,

.div-overview-due-date-Header,
.div-overview-due-payment-Header,
.div-overview-due-text-Header,
.div-overview-payment-Header,
.div-overview-date-Header,
.div-overview-due-payment-Header,
.div-overview-text-Header {
  background-color: #f4f4f4;
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  color: #333;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 4px solid #4CAF50;
  display: inline-block;
  padding-bottom: 10px;
  padding-right: 5px;
}

/* right */
.div-montlyfee-amountCondo,

.div-overview-due-date-Header,
.div-overview-due-payment-Header,
.div-overview-due-sumDue,
.div-overview-income,
.div-overview-sumIncome,
.div-overview-payment,
.div-overview-sumPayment,
.div-overview-due-payment,

.div-remoteheating-sumPayment,
.div-remoteheating-sumNumberKWHour,
.div-remoteheating-numberKWHour,
.div-remoteheating-sumPriceKWHour,
.div-remoteheating-priceKWHour,
.div-remoteheating-text,
.div-remoteheating-date,
.div-remoteheating-payment,
.div-remoteheating-payment-payDate,

.div-overview-text,
.div-overview-date,
.div-overview-due-payment,
.div-overview-due-payment,
.div-overview-payment-payDate,
.div-overview-payment-Header {

  text-align: right;
}

/* red */
.label-user-condoId-red,
.label-user-firstName-red,
.label-user-lastName-red,
.label-user-phone-red,
.label-user-email-red,
.label-user-password-red,
.label-user-securityLevel-red,

.label-accountmovement-accountMovementId-red,
.label-accountmovement-amount-red,
.label-accountmovement-fromDate-red,
.label-accountmovement-toDate-red,
.label-accountmovement-text-red,

.label-bankaccount-bankAccountId-red,
.label-bankaccount-bankAccount-red,
.label-bankaccount-name-red,

.label-condominium-condominiumId-red,
.label-condominium-name-red,
.label-condominium-street-red,
.label-condominium-address2-red,
.label-condominium-postalCode-red,
.label-condominium-city-red,
.label-condominium-phone-red,
.label-condominium-email-red,
.label-condominium-organizationNumber-red,
.label-condominium-bankAccountId-red,

.label-condo-condoId-red,
.label-condo-condoName-red,
.label-condo-street-red,
.label-condo-postalCode-red,
.label-condo-city-red,

.label-budget-text-red,
.label-budget-amount-red,

.label-remoteheating-fromDate-red,
.label-remoteheating-toDate-red,

.label-overview-fromDate-red,
.label-overview-toDate-red,

.label-payment-text-red,
.label-payment-date-red,
.label-payment-amount-red,

.label-income-text-red,
.label-income-date-red,
.label-income-amount-red,

.label-account-accountId-red,
.label-account-bankAccountId-red,
.label-account-bankAccountName-red,
.label-account-accountName-red,
.label-account-accountType-red,

.label-monthlyfee-condoId-red,
.label-monthlyfee-date-red,
.label-monthlyfee-amount-red,

.label-due-condoId-red,
.label-due-date-red,
.label-due-amount-red,
.label-due-text-red,
.label-due-amount-red {

  font-weight: bold;
  color: rgb(234, 8, 8);
}

.div-radio-accountType input {

  width: 20px;
  height: 20px;
  padding: 20px;
  font-weight: 700;
}

/* Column header */
.columnHeaderCenter,
.columnHeaderLeft,
.columnHeaderRight {
  padding-top: 10px;
  width: 100%;
  height: 30px;
  background-color: #f0f0f0;
  font-weight: bold;
  border-bottom: 4px double #4CAF50;
}

.columnHeaderLeft {
  text-align: left;
}

.columnHeaderRight {
  text-align: right;
}

.columnHeaderCenter {
  text-align: center;
}

.centerCell,
.rightCell,
.leftCell {
  border-bottom: 1px solid #eee;
}

.leftCell {
  text-align: left;
}

.rightCell {
  text-align: right;
}

.centerCell {
  text-align: center;
}

.sumCellLeft,
.sumCellRight {
  border-bottom: 4px double #eee;
}

.sumCellRight {
  text-align: right;
}

.sumCellLeft {
  text-align: left;
}

/* Look like button */
.button-link {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  height: 19px;
  font-weight: 700;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

/* green back ground */
.green {
  background-color: #4CAF50;
  opacity: 0.5;
  color: white;
}

/* red back ground */
.a-condo-login,
.red {
  background-color: red;
  opacity: 0.5;
  color: white;
}