
 /* centers body horizontally */
 body {
   display: flex;
   flex-direction: column;
   margin-top: 30px;
   font-family: sans-serif;
 }

 table {
   border-collapse: collapse;
   background-color: #f9f9f9;
   border-radius: 8px;
   overflow: hidden;
 }

 th,
 td {
   border: 1px solid #ccc;
   padding: 10px;
   text-align: cnter;
   height: 30px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
 }

 th {
   background: #e0f0e0;
   text-align: center;
 }

 td {
   border: 0px;
 }

 a,
 button,
 select,
 input {
   cursor: pointer;
 }

 a {
   box-shadow: 3px 3px 3px rgba(224, 240, 224, 1);
 }

 a:hover,
 select:hover,
 input:hover {
   background-color: #e0f0e0;
 }

 input {
   height: 30px;
 }

 select {
   height: 35px;
 }

 /* left alignment for menu 
 td:first-child,
 th:first-child {
   text-align: center;
 }
*/

 .left {
   text-align: left;
 }

 .center {
   text-align: center;
 }

 .right {
   text-align: right;
 }

 .no-border {
   border: 0px solid #ddd;
 }

 .one-line {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
 }

 /* menu */
 .menu {
   padding: 5px;
 }

 .menu a {
   text-decoration: none;
   margin: 0 15px;
 }

 .menu a:hover {
   color: black;
 }

 /* bold */
 .bold {
   font-weight: 700;
 }

 .button {
  padding: 10px;
  height: 30px;
  background-color: #e0f0e0;
  color: white;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}