body {
  display: flex;
  flex-direction: column;
  font-family: sans-serif, Arial, Helvetica;
  margin-left: 35px;
  margin-top: 35px;
  font-size: 16px;
}

/* table container for all tables */
div.tableContainer {
  overflow-x: auto;
  overflow-y: auto;
}

table {
  border-collapse: collapse;
  background-color: #f9f9f9;
  border-radius: 10px;
  overflow: hidden;
}

th,
td {
  border: 1px solid #ccc;
  text-align: center;
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

th {
  background: #e0f0e0;
  text-align: center;
}

td {
  border: 0px;
  font-family: sans-serif;
  font-size: 13px;
}

button,
select,
input {
  cursor: pointer;
  border-radius: 5px;
  border-color: #e0f0e0;
}

button:hover,
select:hover,
input:hover,
.menu a:hover {
  background: #e0f0e0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

input {
  height: 30px;
}

select {
  height: 35px;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.centerTable {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* or parent height */
}

.right {
  text-align: right;
}

.no-border {
  border: 0px solid #ddd;
}

.one-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* bold */
.bold {
  font-weight: 600;
}

.button {
  width: 190px;
  height: 35px;
  background-color: #e0f0e0;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[readonly] {
  background-color: #f2f2f2;
  color: #555;
  border: 1px solid #ccc;
  cursor: default;
}

.menu {
  /* remove default td padding */
  padding: 0;
}

.menu a {
  /* makes <a> fill the cell */
  display: block;
  width: 100%;
  height: 100%;
  max-width: 150px;
  /* space inside the link */
  padding: 12px;
  padding-left: 15px;
  /* include padding in size */
  box-sizing: border-box;
  transition: background 0.2s, box-shadow 0.2s;

  border: 2px solid #e0f0e0;
  border-radius: 10px;
  border-style: outset;
  /* remove underscore */
  text-decoration: none;
  cursor: pointer;
  margin-left: 10px;
}

/* horizontal menu */
.horizontalMenu {
   display: flex;
  list-style: none;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.horizontalMenu li a {
  display: block;
  max-width: 150px;
  padding: 12px 15px;
  color: black;
  box-sizing: border-box;
  background-color: #f9f9f9;

  border: 2px outset #e0f0e0;
  border-radius: 10px;

  text-decoration: none;
  cursor: pointer;

  transition: background 0.2s, box-shadow 0.2s;
}

.horizontalMenu li a:hover {
  background: #e0f0e0;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}