/* centers body horizontally */
body {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
  background-color: #f9f9f9;
  border-radius: 10px;
  overflow: hidden;

}

th,
td {
  border: 1px solid #ccc;
  text-align: cnter;
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

th {
  background: #e0f0e0;
  text-align: center;
}

td {
  border: 0px;
  font-family: sans-serif;
  font-size: 13px;
}

button,
select,
input {
  cursor: pointer;
  border-radius: 5px;
  border-color: #e0f0e0;
}

a:hover,
select:hover,
input:hover {
  background-color: #e0f0e0;
}

input {
  height: 30px;
}

select {
  height: 35px;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.no-border {
  border: 0px solid #ddd;
}

.one-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu {
  text-decoration: none;
  width: 150px;
  height: 35px;
  background-color: #e0f0e0;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 10px;
}

/* bold */
.bold {
  font-weight: 600;
}

.button {
  width: 190px;
  height: 35px;
  background-color: #e0f0e0;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-color: #e0f0e0;
}

a:hover {

  background-color: red;
}